<!DOCTYPE html>

<html>
    <head>
        <title>Wikipedia - searcher</title>

        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        @*<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">*@

        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/semantic.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/website.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/semantic.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/websiteui.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/websitelogic.js")"></script>
    </head>
    <body>
        <div class="ui grid">
            <div class="sixteen wide column page-padding">
                <div class="ui form segment" id="searchForm">
                    <h4 class="ui dividing header">Search form for wikipedia articles</h4>
                    <div class="two fields">
                        <div class="eight wide field">
                            <label>Contributor</label>
                            <div class="ui input">
                                <input id="contributor" name="contributor">
                            </div>
                        </div>
                        <div class="eight wide field">
                            <label>Text</label>
                            <div class="ui input">
                                <input id="text" name="text">
                            </div>
                        </div>
                    </div>
                    <div class="ui blue submit button" id="searchButton" onclick="searchForm.validate()">Search</div>
                    <div id="errorContainer" class="ui error message hidden"></div>
                </div>
            </div>
            <div class="sixteen wide column page-padding">
            </div>
        </div>
    </body>
</html>
